@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.info {
  @apply flex justify-start items-center gap-4;
}
.info_h1 {
  @apply text-sm font-sans;
}
.heading_detail {
  @apply font-bold rounded-lg mt-4;
}
.lifestyle_h1 {
  @apply text-sm font-sans;
}
.list-disc {
  @apply marker:text-[#D9D9D9] marker:text-2xl;
}
.roommate_li {
  @apply grid grid-cols-2 gap-4;
}
.roommate_title {
  @apply text-sm font-semibold;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* @font-face {
  font-family: "Unicorn Jumping";
  src: url("../../public/font/Jumping Unicorn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

body {
  color: var(--foreground);
  background: #fafafa;
  font-family: Arial, Helvetica, sans-serif, "Unicorn Jumping";
}
